.btn-facebook {
    background-color: #3b5998;
    color: #fff;
}

.text-gray-900 {
    color: rgba(128, 128, 128, 0.9);
}

a {
    text-decoration: none;
}

.pick_photos {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    top: 0;
}

.pick_photos::before {
    content: "";
    transition: background-color .3s ease;
}

.pick_photos i {
    opacity: 0;
    z-index: 10;
    transition: all .3s ease;
}

.pick_photos:hover::before {
    content: "";
    background-color: rgba(63, 63, 63, 0.658);
    position: absolute;
    width: 100%;
    height: 100%;
}

.pick_photos:hover i {
    opacity: 1;
}

input[type="file"] {
    visibility: hidden;
}

.profile {
    color: #333;
    text-decoration: none;
}

.profile:hover {
    color: #333 !important;
}

.profile:focus {
    box-shadow: none;
}

.profile::after {
    display: none;
}

.log-in-btn:hover {
    color: #333 !important;
}